<a href="https://colab.research.google.com/github/KimGriezmann/DeepLearning_BeTheLegend/blob/master/Bethelegend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import tqdm
import os

In [3]:
pd.set_option('display.max_row', 100)
pd.set_option('display.max_columns', 100)

In [ ]:
print(os.getcwd())

/content

In [8]:
data = pd.read_excel("/content/날짜별 타자 데이터 통합.xlsx")
hitter = pd.read_excel("/content/90명 타자 명단.xlsx")
vs_avg_data = pd.read_excel("/content/팀 상대 타율 정렬.xlsx")

In [9]:
data = pd.DataFrame(data)
hitter = pd.DataFrame(hitter)
vs_avg_data = pd.DataFrame(vs_avg_data)

In [10]:
print(data.head(), len(data))

     day name  vs  타순  P  ab  hit  vs_cu_ab  vs_cu_hit  result    avg    slg  \
0  44289  강민호  키움   6  C   3    0         4          0       0  0.000  0.000
1  44290  강민호  키움   7  C   4    2         5          4       1  0.286  0.286
2  44292  강민호  두산   9  C   1    0         4          0       0  0.250  0.250
3  44293  강민호  두산   6  C   4    1         3          1       1  0.250  0.333
4  44294  강민호  두산   7  C   3    2         0          0       1  0.333  0.667

   recent_5  recent_10  success_recent_10   LT     OB   LG  SSG   KT  \
0  0.000000      0.000               0.00  0.0  0.000  0.0  0.0  0.0
1  0.000000      0.000               0.00  0.0  0.000  0.0  0.0  0.0
2  0.285714      0.286               0.50  0.0  0.000  0.0  0.0  0.0
3  0.250000      0.250               0.33  0.0  0.200  0.0  0.0  0.0
4  0.250000      0.250               0.50  0.0  0.375  0.0  0.0  0.0

         KW  KIA   HH   SS   NC
0  0.000000  0.0  0.0  0.0  0.0
1  0.285714  0.0  0.0  0.0  0.0
2  0.000000  0.0  0.0  0.0  0.0
3  0.000000  0.0  0.0  0.0  0.0
4  0.000000  0.0  0.0  0.0  0.0   5296

In [11]:
print(hitter.head(), len(hitter))

  Team batter
0   롯데    전준우
1   롯데    손아섭
2   롯데     정훈
3   롯데    마차도
4   롯데    한동희 90

In [12]:
data.loc[:,['day','name','ab','hit']].dtypes

day      int64
name    object
ab       int64
hit      int64
dtype: object

In [13]:
data.loc[:,['day','name','ab','hit']]

        day name  ab  hit
0     44289  강민호   3    0
1     44290  강민호   4    2
2     44292  강민호   1    0
3     44293  강민호   4    1
4     44294  강민호   3    2
...     ...  ...  ..  ...
5291  44371   힐리   1    0
5292  44372   힐리   2    0
5293  44373   힐리   4    2
5294  44374   힐리   3    1
5295  44377   힐리   4    2

[5296 rows x 4 columns]

In [13]:
#
# 선수마다 최근 5일의 타율을 구해야함. 
# 현재 day에서 -5부터 -1까지의 sum(hit)/sum(ab) 값을 구하면 된다

# hitter_data : 90명 타자 data
# record_data : 날짜별 타자 기록
# recent_day : 기본(최근 5일), 설정 가능
def make_recent_days(hitter_data, record_data, recent_day=5):

  # 최근 5일 경기 타율 저장할 공간 생성
  recent_5days = np.zeros(len(record_data)) # 최근 5일 경기 타율
  recent_5days_hitter = np.empty(len(record_data), dtype=np.chararray) # type : 문자열 저장을 위해 chararray
  recent_5days_day = np.empty(len(record_data), dtype=np.int32) # 기준이 되는 날짜

  ps = 0
  for h in tqdm.tqdm(hitter_data['batter']): # 90명 타자 한명씩 접근
    hdata = record_data.loc[record_data['name']==h] # 특정 타자 한명에 대해서만 데이터 추출
    for r in hdata['day']: # 추출한 데이터에서 한 행씩 접근
      recent_5days_hitter[ps] = h # 현재 타자
      recent_5days_day[ps] = r  # 현재 기준 날짜
      hrdata = hdata.loc[hdata['day']>=r-recent_day].loc[hdata['day']<=r-1] # 접근한 행의 날짜를 기준으로 5일 경기 
      if len(hrdata)==0: # 최근 5일 경기 없으면 넘어가고
        ps+=1
        continue
      else : # 있으면
        sum_ab = sum(hrdata['ab'])
        if sum_ab==0: # 경기 기록은 존재하지만 타수(ab)가 0
          ps+=1
          continue
        sum_hit = sum(hrdata['hit'])
        recent_5days[ps] = sum_hit/sum_ab
        ps+=1

  result_Dataframe = pd.DataFrame()
  result_Dataframe['recent_5days_hitter'] = recent_5days_hitter
  result_Dataframe['recent_5days_day'] = recent_5days_day
  result_Dataframe['recent_5days'] = recent_5days
  result_Dataframe

  return result_Dataframe

In [14]:
vs_avg_data.head()

,day,name,vs,타순,P,ab,hit,vs_cu_ab,vs_cu_hit,result,avg,slg,recent_5,recent_10,success_recent_10
0,44299,강민호,한화,5,C,4,2,0,0,1,0.367,0.533,0.388889,0.346,0.75
1,44300,강민호,한화,6,C,3,0,4,2,0,0.333,0.485,0.444444,0.367,0.78
2,44301,강민호,한화,6,C,4,2,7,2,1,0.351,0.486,0.333333,0.333,0.70
3,44321,강민호,한화,4,C,4,1,11,4,1,0.386,0.614,0.352941,0.421,0.80
4,44322,강민호,한화,8,PH,1,0,15,5,0,0.382,0.607,0.294118,0.405,0.80

In [62]:
#상대 타율 구하는 함수
#데이터 파일에서 vs 내림차순 후, 누적 타수 / 누적 안타 계산이 끝난 상태여야함
def make_vs_avg(hitter_data, record_data):
  vs_avg = np.zeros(len(record_data))
  name = np.empty(len(record_data), dtype=np.chararray) # type : 문자열 저장을 위해 chararray
  day = np.empty(len(record_data), dtype=np.int32) # 기준이 되는 날짜
  vs = np.empty(len(record_data), dtype=np.chararray)
  vs_ab = np.zeros(len(record_data))
  vs_hit = np.zeros(len(record_data))

  ps = 0
  for h in tqdm.tqdm(hitter_data['batter']): # 90명 타자 한명씩 접근
    hdata = record_data.loc[record_data['name']==h] # 특정 타자 한명에 대해서만 데이터 추출
    for r, v,ab, hit in zip(hdata['day'], hdata['vs'], hdata['vs_cu_ab'], hdata['vs_cu_hit']): # 추출한 데이터에서 한 행씩 접근
      day[ps] = r  # 현재 기준 날짜
      name[ps] = h # 현재 타자
      vs[ps] = v
      vs_ab[ps] = ab
      vs_hit[ps] = hit
      try:
        vs_avg[ps] = hit / ab
      except ZeroDivisionError:
        vs_avg[ps] = 0
      ps+=1
  
  result_Dataframe = pd.DataFrame()
  result_Dataframe['day'] = day
  result_Dataframe['name'] = name
  result_Dataframe['vs_team'] = vs
  result_Dataframe['vs_ab'] = vs_ab
  result_Dataframe['vs_hit'] = vs_hit
  result_Dataframe['vs_avg'] = vs_avg
  result_Dataframe

  return result_Dataframe

In [63]:
vs_avg = make_vs_avg(hitter, vs_avg_data)

100%|██████████| 90/90 [00:00<00:00, 896.72it/s]

In [64]:
vs_avg.loc[vs_avg['name']=='전준우']

      day name vs_team  vs_ab  vs_hit    vs_avg
0   44316  전준우      한화    0.0     0.0  0.000000
1   44317  전준우      한화    4.0     1.0  0.250000
2   44318  전준우      한화    8.0     1.0  0.125000
3   44334  전준우      한화   11.0     1.0  0.090909
4   44335  전준우      한화   16.0     3.0  0.187500
5   44362  전준우      한화   18.0     4.0  0.222222
6   44363  전준우      한화   22.0     4.0  0.181818
7   44363  전준우      한화   25.0     5.0  0.200000
8   44364  전준우      한화   28.0     5.0  0.178571
9   44295  전준우      키움    0.0     0.0  0.000000
10  44296  전준우      키움    4.0     1.0  0.250000
11  44297  전준우      키움    8.0     4.0  0.500000
12  44348  전준우      키움   12.0     5.0  0.416667
13  44349  전준우      키움   16.0     6.0  0.375000
14  44350  전준우      키움   20.0     7.0  0.350000
15  44376  전준우      키움   23.0     8.0  0.347826
16  44377  전준우      키움   29.0    11.0  0.379310
17  44302  전준우      삼성    0.0     0.0  0.000000
18  44303  전준우      삼성    4.0     0.0  0.000000
19  44304  전준우      삼성    6.0     0.0  0.000000
20  44323  전준우      삼성   10.0     1.0  0.100000
21  44324  전준우      삼성   14.0     2.0  0.142857
22  44325  전준우      삼성   18.0     4.0  0.222222
23  44365  전준우      삼성   21.0     5.0  0.238095
24  44366  전준우      삼성   24.0     6.0  0.250000
25  44367  전준우      삼성   28.0     7.0  0.250000
26  44306  전준우      두산    0.0     0.0  0.000000
27  44307  전준우      두산    4.0     1.0  0.250000
28  44308  전준우      두산    7.0     3.0  0.428571
29  44337  전준우      두산    9.0     4.0  0.444444
30  44338  전준우      두산   13.0     6.0  0.461538
31  44339  전준우      두산   17.0     7.0  0.411765
32  44355  전준우      두산   21.0     8.0  0.380952
33  44356  전준우      두산   26.0    11.0  0.423077
34  44357  전준우      두산   29.0    12.0  0.413793
35  44372  전준우      두산   33.0    14.0  0.424242
36  44373  전준우      두산   38.0    18.0  0.473684
37  44290  전준우     SSG    0.0     0.0  0.000000
38  44327  전준우     SSG    4.0     2.0  0.500000
39  44328  전준우     SSG    8.0     2.0  0.250000
40  44329  전준우     SSG   10.0     3.0  0.300000
41  44292  전준우      NC    0.0     0.0  0.000000
42  44293  전준우      NC    3.0     3.0  1.000000
43  44294  전준우      NC    7.0     5.0  0.714286
44  44345  전준우      NC   11.0     6.0  0.545455
45  44345  전준우      NC   16.0     8.0  0.500000
46  44346  전준우      NC   20.0    11.0  0.550000
47  44369  전준우      NC   23.0    12.0  0.521739
48  44370  전준우      NC   26.0    13.0  0.500000
49  44371  전준우      NC   31.0    14.0  0.451613
50  44313  전준우      LG    0.0     0.0  0.000000
51  44314  전준우      LG    3.0     0.0  0.000000
52  44315  전준우      LG    7.0     0.0  0.000000
53  44342  전준우      LG   10.0     0.0  0.000000
54  44343  전준우      LG   14.0     1.0  0.071429
55  44309  전준우      KT    0.0     0.0  0.000000
56  44310  전준우      KT    4.0     0.0  0.000000
57  44311  전준우      KT    9.0     2.0  0.222222
58  44330  전준우      KT   14.0     3.0  0.214286
59  44331  전준우      KT   17.0     4.0  0.235294
60  44351  전준우      KT   21.0     5.0  0.238095
61  44352  전준우      KT   25.0     6.0  0.240000
62  44353  전준우      KT   29.0     7.0  0.241379
63  44299  전준우     KIA    0.0     0.0  0.000000
64  44300  전준우     KIA    5.0     2.0  0.400000
65  44301  전준우     KIA   10.0     3.0  0.300000
66  44321  전준우     KIA   13.0     5.0  0.384615
67  44322  전준우     KIA   18.0     7.0  0.388889
68  44360  전준우     KIA   24.0    11.0  0.458333
69  44360  전준우     KIA   28.0    13.0  0.464286

In [65]:
recent_days = make_recent_days(hitter, data)

100%|██████████| 90/90 [00:08<00:00, 10.78it/s]

In [50]:
recent_days

     recent_5days_hitter  recent_5days_day  recent_5days
0                    전준우             44290      0.000000
1                    전준우             44292      0.500000
2                    전준우             44293      0.714286
3                    전준우             44294      0.636364
4                    전준우             44295      0.533333
...                  ...               ...           ...
5291                 김민하             44367      0.222222
5292                 김민하             44369      0.000000
5293                 김민하             44370      0.000000
5294                 김민하             44371      0.100000
5295                 김민하             44373      0.125000

[5296 rows x 3 columns]

In [66]:
merge_data1 = data.merge(recent_days, left_on = ['day', 'name'], right_on = ['recent_5days_day', 'recent_5days_hitter'])

In [67]:
merge_data2 = merge_data1.merge(vs_avg, left_on = ['day', 'name'], right_on = ['day', 'name'])

In [68]:
our_data = merge_data2.loc[:,['day','name', 'vs', 'ab','hit', 'avg', 'slg', 'vs_ab', 'vs_hit', 'vs_avg', 'recent_5','recent_10','success_recent_10','recent_5days', 'result']]

In [70]:
our_data.loc[our_data['name']=='전준우']

,day,name,vs,ab,hit,avg,slg,vs_ab,vs_hit,vs_avg,recent_5,recent_10,success_recent_10,recent_5days,result
4305,44290,전준우,SSG,4,2,0.500,0.750,0.0,0.0,0.000000,0.000000,0.000,0.0,0.000000,1
4306,44292,전준우,NC,3,3,0.714,0.857,0.0,0.0,0.000000,0.500000,0.500,1.0,0.500000,1
4307,44293,전준우,NC,4,2,0.636,0.818,3.0,3.0,1.000000,0.714286,0.714,1.0,0.714286,1
4308,44294,전준우,NC,4,1,0.533,0.667,7.0,5.0,0.714286,0.636364,0.636,1.0,0.636364,1
4309,44295,전준우,키움,4,1,0.474,0.579,0.0,0.0,0.000000,0.533333,0.533,1.0,0.533333,1
4310,44296,전준우,키움,4,3,0.522,0.609,4.0,1.0,0.250000,0.473684,0.474,1.0,0.466667,1
4311,44297,전준우,키움,4,1,0.481,0.556,8.0,4.0,0.500000,0.526316,0.522,1.0,0.526316,1
4312,44299,전준우,KIA,5,2,0.469,0.531,0.0,0.0,0.000000,0.400000,0.481,1.0,0.375000,1
4313,44300,전준우,KIA,5,1,0.432,0.486,5.0,2.0,0.400000,0.380952,0.469,1.0,0.411765,1
4314,44301,전준우,KIA,3,2,0.450,0.500,10.0,3.0,0.300000,0.363636,0.432,1.0,0.388889,1
4315,44302,전준우,삼성,4,0,0.409,0.455,0.0,0.0,0.000000,0.428571,0.450,1.0,0.352941,0
4316,44303,전준우,삼성,2,0,0.391,0.435,4.0,0.0,0.000000,0.285714,0.400,0.9,0.294118,0
4317,44304,전준우,삼성,4,1,0.380,0.440,6.0,0.0,0.000000,0.263158,0.333,0.8,0.263158,1
4318,44306,전준우,두산,4,1,0.370,0.481,0.0,0.0,0.000000,0.222222,0.308,0.8,0.230769,1
4319,44307,전준우,두산,3,2,0.386,0.526,4.0,1.0,0.250000,0.235294,0.308,0.8,0.142857,1
4320,44308,전준우,두산,2,1,0.390,0.525,7.0,3.0,0.428571,0.235294,0.342,0.8,0.307692,1
4321,44309,전준우,KT,4,0,0.365,0.492,0.0,0.0,0.000000,0.333333,0.306,0.8,0.384615,0
4322,44310,전준우,KT,5,2,0.368,0.485,4.0,0.0,0.000000,0.294118,0.278,0.7,0.307692,1
4323,44311,전준우,KT,5,1,0.356,0.466,9.0,2.0,0.222222,0.333333,0.278,0.7,0.333333,1
4324,44313,전준우,LG,3,0,0.342,0.447,0.0,0.0,0.000000,0.315789,0.278,0.7,0.250000,0
4325,44314,전준우,LG,4,0,0.325,0.425,3.0,0.0,0.000000,0.210526,0.222,0.6,0.176471,0
4326,44315,전준우,LG,3,0,0.313,0.410,7.0,0.0,0.000000,0.142857,0.222,0.6,0.176471,0
4327,44316,전준우,한화,4,1,0.310,0.402,0.0,0.0,0.000000,0.150000,0.216,0.6,0.066667,1
4328,44317,전준우,한화,4,0,0.297,0.385,4.0,1.0,0.250000,0.105263,0.216,0.6,0.071429,0
4329,44318,전준우,한화,3,0,0.287,0.372,8.0,1.0,0.125000,0.055556,0.189,0.5,0.055556,0
4330,44321,전준우,KIA,5,2,0.293,0.374,13.0,5.0,0.384615,0.055556,0.135,0.4,0.090909,1
4331,44322,전준우,KIA,6,4,0.314,0.400,18.0,7.0,0.388889,0.157895,0.150,0.4,0.166667,1
4332,44323,전준우,삼성,4,1,0.312,0.394,10.0,1.0,0.100000,0.318182,0.238,0.5,0.428571,1
4333,44324,전준우,삼성,4,2,0.319,0.398,14.0,2.0,0.142857,0.318182,0.220,0.5,0.466667,1
4334,44325,전준우,삼성,3,1,0.319,0.422,18.0,4.0,0.222222,0.409091,0.250,0.5,0.473684,1
4335,44327,전준우,SSG,4,0,0.308,0.408,4.0,2.0,0.500000,0.454545,0.275,0.6,0.470588,0
4336,44328,전준우,SSG,2,1,0.311,0.410,8.0,2.0,0.250000,0.380952,0.275,0.6,0.266667,1
4337,44329,전준우,SSG,0,0,0.311,0.410,10.0,3.0,0.300000,0.294118,0.308,0.7,0.307692,0
4338,44330,전준우,KT,3,1,0.312,0.408,14.0,3.0,0.214286,0.307692,0.314,0.6,0.222222,1
4339,44331,전준우,KT,4,1,0.310,0.403,17.0,4.0,0.235294,0.250000,0.353,0.7,0.222222,1
4340,44334,전준우,한화,5,2,0.313,0.410,11.0,1.0,0.090909,0.230769,0.371,0.8,0.285714,1
4341,44335,전준우,한화,2,1,0.316,0.419,16.0,3.0,0.187500,0.357143,0.371,0.8,0.333333,1
4342,44337,전준우,두산,4,2,0.321,0.421,9.0,4.0,0.444444,0.357143,0.323,0.8,0.428571,1
4343,44338,전준우,두산,4,1,0.319,0.424,13.0,6.0,0.461538,0.388889,0.355,0.8,0.454545,1
4344,44339,전준우,두산,4,1,0.318,0.419,17.0,7.0,0.411765,0.368421,0.323,0.8,0.400000,1
4345,44342,전준우,LG,4,1,0.316,0.414,10.0,0.0,0.000000,0.368421,0.313,0.8,0.333333,1
4346,44343,전준우,LG,4,0,0.308,0.404,14.0,1.0,0.071429,0.333333,0.344,0.9,0.250000,0
4347,44345,전준우,NC,5,2,0.311,0.416,11.0,6.0,0.545455,0.250000,0.294,0.8,0.125000,1
4348,44345,전준우,NC,5,2,0.311,0.416,16.0,8.0,0.500000,0.250000,0.294,0.8,0.125000,1
4349,44345,전준우,NC,5,2,0.311,0.416,11.0,6.0,0.545455,0.250000,0.294,0.8,0.125000,1
4350,44345,전준우,NC,5,2,0.311,0.416,16.0,8.0,0.500000,0.250000,0.294,0.8,0.125000,1
4351,44345,전준우,NC,4,3,0.321,0.424,11.0,6.0,0.545455,0.238095,0.308,0.9,0.125000,1
4352,44345,전준우,NC,4,3,0.321,0.424,16.0,8.0,0.500000,0.238095,0.308,0.9,0.125000,1
4353,44345,전준우,NC,4,3,0.321,0.424,11.0,6.0,0.545455,0.238095,0.308,0.9,0.125000,1
4354,44345,전준우,NC,4,3,0.321,0.424,16.0,8.0,0.500000,0.238095,0.308,0.9,0.125000,1
4355,44346,전준우,NC,3,1,0.321,0.423,20.0,11.0,0.550000,0.333333,0.350,0.9,0.352941,1
4356,44348,전준우,키움,4,1,0.320,0.419,12.0,5.0,0.416667,0.350000,0.359,0.9,0.375000,1
4357,44349,전준우,키움,4,1,0.318,0.415,16.0,6.0,0.375000,0.350000,0.342,0.9,0.437500,1
4358,44350,전준우,키움,3,1,0.318,0.413,20.0,7.0,0.350000,0.400000,0.325,0.9,0.400000,1
4359,44351,전준우,KT,4,1,0.317,0.410,21.0,5.0,0.238095,0.388889,0.308,0.9,0.285714,1
4360,44352,전준우,KT,4,1,0.316,0.406,25.0,6.0,0.240000,0.277778,0.308,0.9,0.266667,1
4361,44353,전준우,KT,5,2,0.318,0.411,29.0,7.0,0.241379,0.263158,0.308,0.9,0.263158,1
4362,44355,전준우,두산,5,3,0.325,0.416,21.0,8.0,0.380952,0.300000,0.325,0.9,0.312500,1
4363,44356,전준우,두산,3,1,0.325,0.415,26.0,11.0,0.423077,0.380952,0.390,1.0,0.388889,1
4364,44357,전준우,두산,4,2,0.328,0.422,29.0,12.0,0.413793,0.380952,0.385,1.0,0.411765,1
4365,44360,전준우,KIA,4,2,0.332,0.423,24.0,11.0,0.458333,0.428571,0.359,1.0,0.500000,1
4366,44360,전준우,KIA,4,2,0.332,0.423,28.0,13.0,0.464286,0.428571,0.359,1.0,0.500000,1
4367,44360,전준우,KIA,4,2,0.332,0.423,24.0,11.0,0.458333,0.428571,0.359,1.0,0.500000,1
4368,44360,전준우,KIA,4,2,0.332,0.423,28.0,13.0,0.464286,0.428571,0.359,1.0,0.500000,1
4369,44360,전준우,KIA,4,2,0.335,0.429,24.0,11.0,0.458333,0.476190,0.375,1.0,0.500000,1
4370,44360,전준우,KIA,4,2,0.335,0.429,28.0,13.0,0.464286,0.476190,0.375,1.0,0.500000,1
4371,44360,전준우,KIA,4,2,0.335,0.429,24.0,11.0,0.458333,0.476190,0.375,1.0,0.500000,1
4372,44360,전준우,KIA,4,2,0.335,0.429,28.0,13.0,0.464286,0.476190,0.375,1.0,0.500000,1
4373,44362,전준우,한화,4,0,0.329,0.421,18.0,4.0,0.222222,0.500000,0.400,1.0,0.500000,0
4374,44363,전준우,한화,3,1,0.329,0.425,22.0,4.0,0.181818,0.368421,0.375,0.9,0.333333,1
4375,44363,전준우,한화,3,1,0.329,0.425,25.0,5.0,0.200000,0.368421,0.375,0.9,0.333333,1
4376,44363,전준우,한화,3,1,0.329,0.425,22.0,4.0,0.181818,0.368421,0.375,0.9,0.333333,1
4377,44363,전준우,한화,3,1,0.329,0.425,25.0,5.0,0.200000,0.368421,0.375,0.9,0.333333,1
4378,44363,전준우,한화,3,0,0.324,0.419,22.0,4.0,0.181818,0.368421,0.375,0.9,0.333333,0
4379,44363,전준우,한화,3,0,0.324,0.419,25.0,5.0,0.200000,0.368421,0.375,0.9,0.333333,0
4380,44363,전준우,한화,3,0,0.324,0.419,22.0,4.0,0.181818,0.368421,0.375,0.9,0.333333,0
4381,44363,전준우,한화,3,0,0.324,0.419,25.0,5.0,0.200000,0.368421,0.375,0.9,0.333333,0
4382,44364,전준우,한화,5,1,0.322,0.414,28.0,5.0,0.178571,0.277778,0.359,0.8,0.277778,1
4383,44365,전준우,삼성,3,1,0.322,0.426,21.0,5.0,0.238095,0.210526,0.350,0.8,0.260870,1
4384,44366,전준우,삼성,4,1,0.321,0.423,24.0,6.0,0.250000,0.166667,0.342,0.8,0.166667,1
4385,44367,전준우,삼성,2,1,0.322,0.428,28.0,7.0,0.250000,0.222222,0.297,0.8,0.181818,1
4386,44369,전준우,NC,3,1,0.322,0.427,23.0,12.0,0.521739,0.235294,0.306,0.8,0.285714,1
4387,44370,전준우,NC,5,1,0.320,0.422,26.0,13.0,0.500000,0.294118,0.286,0.8,0.333333,1
4388,44371,전준우,NC,3,1,0.320,0.421,31.0,14.0,0.451613,0.294118,0.250,0.8,0.285714,1
4389,44372,전준우,두산,5,4,0.329,0.448,33.0,14.0,0.424242,0.294118,0.229,0.8,0.307692,1
4390,44373,전준우,두산,4,0,0.324,0.441,38.0,18.0,0.473684,0.444444,0.333,0.9,0.437500,0
4391,44376,전준우,키움,6,3,0.328,0.443,23.0,8.0,0.347826,0.350000,0.297,0.8,0.416667,1
4392,44377,전준우,키움,4,1,0.327,0.444,29.0,11.0,0.379310,0.391304,0.350,0.9,0.466667,1