<a href="https://colab.research.google.com/github/KimGriezmann/DeepLearning_BeTheLegend/blob/master/make_def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def data_crawling(year, num_top_batter=9):
  # Parameter
  # 원하는 연도 입력
  year = year
  # 데이터를 수집할 타자 중 타석 수 상위 명수
  num_top_batter = 9

  # Team List
  # 원하는 연도에 등록된 팀을 미리 넣어두어야함 (추가 가능)
  Team_2016 = ['NC','kt','LG','두산','히어로즈','KIA','롯데','삼성','SK','한화']
  Team_2017 = ['NC','kt','LG','두산','히어로즈','KIA','롯데','삼성','SK','한화']
  Team_2018 = ['NC','kt','LG','두산','히어로즈','KIA','롯데','삼성','SK','한화']
  Team_2019 = ['NC','kt','LG','두산','키움','KIA','롯데','삼성','SK','한화']
  Team_2020 = ['NC','kt','LG','두산','키움','KIA','롯데','삼성','SK','한화']
  Team_2021 = ['kt','삼성','LG','SSG','NC','키움','두산','롯데','KIA','한화']

  # Team Dictionary
  # Team List를 딕셔너리에 넣음 (추가 가능)
  TeamDic = {'2016':Team_2016, '2017':Team_2017, '2018':Team_2018, '2019':Team_2019, '2020':Team_2020, '2021':Team_2021}

  ###############
  # BeautifulSoup

  import numpy as np
  import pandas as pd
  import requests
  from bs4 import BeautifulSoup
  from tqdm import tqdm

  # 데이터를 모을 dataframe 생성
  data = pd.DataFrame(columns=['name','날짜', '상대', '결과', '타순', 'P', '선발', '타수', '득점', '안타', '2타', '3타', '홈런', '루타', '타점', '도루', '도실',
                              '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', 'avg', '출루', '장타', 'OPS', '투구', 'avLI', 'RE24', 'WPA'])

  batter_data = pd.DataFrame(columns=['Team','name'])

  for Team in tqdm(TeamDic[str(year)]): # 선택한 연도의 팀을 하나씩 가져옴
    
    # 스탯티즈 시즌기록실 페이지에서 연도, 팀 선택하고, 타석순으로 정렬
    wp = requests.get("http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys=" + str(year) + "&ye=" + str(year) + "&se=0&te=" + Team + "&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=TPA&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=30&si=&cn=")
    soup = BeautifulSoup(wp.text, "html.parser")
    
    # 현재 팀의 타석 수 상위 num_top_batter 명
    tmp_batter_list = np.empty(num_top_batter,dtype=object)
    tmp_team = np.array([Team]*num_top_batter) # 타석 수 상위 타자 팀명 저장
    tmp_batter_list_href = np.empty(num_top_batter,dtype=object)
    tmp_batter_ps=0
    for batter in soup.find_all('tr')[2:11]:
      tmp_batter_list[tmp_batter_ps] = batter.find_all('td')[1].text # 타석 수 상위 타자 이름 저장
      tmp_batter_list_href[tmp_batter_ps] = batter.find_all('a')[0].attrs['href'] # 타석 수 상위 타자 주소 저장
      tmp_batter_ps+=1

    batter_data = pd.concat([batter_data, pd.DataFrame({'Team':tmp_team, 'name':tmp_batter_list})])

    # 타석 수 상위 타자들 중 한명씩 데이터를 모으는 과정
    for top_batter in range(num_top_batter):
      wp=requests.get("http://www.statiz.co.kr/"+tmp_batter_list_href[top_batter]) # 타자 주소로 접근
      soup=BeautifulSoup(wp.text, "html.parser")

      # 날짜별 데이터로 접근
      href_byDate = soup.select('body > div > div.content-wrapper > div > section.content > div > div:nth-of-type(1) > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-12 > div > div.table-responsive.no-padding.box > table')[0].find_all('a')[3].attrs['href']
      wp=requests.get("http://www.statiz.co.kr/"+href_byDate)
      soup=BeautifulSoup(wp.text,"html.parser")

      # year : 원하는 연도로 접근
      href_byDate_year=soup.select('body > div.wrapper > div.content-wrapper > div > section.content > div > div:nth-of-type(2) > div > div:nth-of-type(2) > div')[0].find('a', text=str(year)).attrs['href']
      wp=requests.get("http://www.statiz.co.kr/"+href_byDate_year)
      soup=BeautifulSoup(wp.text,"html.parser")

      ## 데이터가 있는 페이지로 이동 완료
      ## 이제 실질적인 데이터를 모을 차례
      rawdata=soup.select('body > div > div.content-wrapper > div > section.content > div > div:nth-of-type(2) > div > div:nth-of-type(3) > div > div > table')[0]
      # rawdata : 전체 테이블

      # th를 제외한 순수한 경기 데이터 / th는 컬럼명 행이다.
      rawdata_not_th = rawdata.find_all('tr',{'class':['oddrow_stz0','evenrow_stz0']})

      # 행렬만들기
      rawdata_name = np.array([tmp_batter_list[top_batter]]*len(rawdata_not_th))
      rawdata_day = np.zeros(len(rawdata_not_th), dtype=object)
      rawdata_vs_team = np.zeros(len(rawdata_not_th), dtype=object)
      rawdata_result = np.zeros(len(rawdata_not_th), dtype=object)
      rawdata_bat_order = np.zeros(len(rawdata_not_th),dtype=np.int_)
      rawdata_position = np.zeros(len(rawdata_not_th), dtype=object)
      rawdata_start_memeber = np.zeros(len(rawdata_not_th), dtype=np.bool)
      rawdata_ab = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_score = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_hit = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_2_hit = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_3_hit = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_homerun = np.zeros(len(rawdata_not_th), dtype=np.int_)
      # 영어명으로 변경 필요
      rawdata_루타 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_타점 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_도루 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_도실 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_볼넷 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_사구 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_고4 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_삼진 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_병살 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_희타 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rewdata_희비 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_avg = np.zeros(len(rawdata_not_th), dtype=np.float)
      rawdata_출루 = np.zeros(len(rawdata_not_th), dtype=np.float)
      rawdata_장타 = np.zeros(len(rawdata_not_th), dtype=np.float)
      rawdata_ops = np.zeros(len(rawdata_not_th), dtype=np.float)
      rawdata_투구 = np.zeros(len(rawdata_not_th), dtype=np.int_)
      rawdata_avLI = np.zeros(len(rawdata_not_th), dtype=np.float)
      rawdata_RE24 = np.zeros(len(rawdata_not_th), dtype=np.float)
      rawdata_WPA = np.zeros(len(rawdata_not_th), dtype=np.float)

      for rawdata_not_th_tr_index in range(len(rawdata_not_th)):
        # 한 행 : rawdata_not_th_tr_index
        rawdata_not_th_td = [text for text in rawdata_not_th[rawdata_not_th_tr_index].stripped_strings]
        # 현재 행의 하나의 값 : rawdata_not_th_td[index]
        # 데이터 입력
        rawdata_day[rawdata_not_th_tr_index] = rawdata_not_th_td[1]
        rawdata_vs_team[rawdata_not_th_tr_index] = rawdata_not_th_td[2]
        rawdata_result[rawdata_not_th_tr_index] = rawdata_not_th_td[3]+" "+rawdata_not_th_td[4]
        rawdata_bat_order[rawdata_not_th_tr_index] = rawdata_not_th_td[5]
        rawdata_position[rawdata_not_th_tr_index] = rawdata_not_th_td[6]
        rawdata_start_memeber[rawdata_not_th_tr_index] = rawdata_not_th_td[7]
        rawdata_ab[rawdata_not_th_tr_index] = rawdata_not_th_td[8]
        rawdata_score[rawdata_not_th_tr_index] = rawdata_not_th_td[9]
        rawdata_hit[rawdata_not_th_tr_index] = rawdata_not_th_td[10]
        rawdata_2_hit[rawdata_not_th_tr_index] = rawdata_not_th_td[11]
        rawdata_3_hit[rawdata_not_th_tr_index] = rawdata_not_th_td[12]
        rawdata_homerun[rawdata_not_th_tr_index] = rawdata_not_th_td[13]
        rawdata_루타[rawdata_not_th_tr_index] = rawdata_not_th_td[14]
        rawdata_타점[rawdata_not_th_tr_index] = rawdata_not_th_td[15]
        rawdata_도루[rawdata_not_th_tr_index] = rawdata_not_th_td[16]
        rawdata_도실[rawdata_not_th_tr_index] = rawdata_not_th_td[17]
        rawdata_볼넷[rawdata_not_th_tr_index] = rawdata_not_th_td[18]
        rawdata_사구[rawdata_not_th_tr_index] = rawdata_not_th_td[19]
        rawdata_고4[rawdata_not_th_tr_index] = rawdata_not_th_td[20]
        rawdata_삼진[rawdata_not_th_tr_index] = rawdata_not_th_td[21]
        rawdata_병살[rawdata_not_th_tr_index] = rawdata_not_th_td[22]
        rawdata_희타[rawdata_not_th_tr_index] = rawdata_not_th_td[23]
        rewdata_희비[rawdata_not_th_tr_index] = rawdata_not_th_td[24]
        rawdata_avg[rawdata_not_th_tr_index] = rawdata_not_th_td[25]
        rawdata_출루[rawdata_not_th_tr_index] = rawdata_not_th_td[26]
        rawdata_장타[rawdata_not_th_tr_index] = rawdata_not_th_td[27]
        rawdata_ops[rawdata_not_th_tr_index] = rawdata_not_th_td[28]
        rawdata_투구[rawdata_not_th_tr_index] = rawdata_not_th_td[29]
        rawdata_avLI[rawdata_not_th_tr_index] = rawdata_not_th_td[30]
        rawdata_RE24[rawdata_not_th_tr_index] = rawdata_not_th_td[31]
        rawdata_WPA[rawdata_not_th_tr_index] = rawdata_not_th_td[32]

      tmp_data = pd.DataFrame()
      # tmp_data는 각 선수마다 데이터를 모은 후 data에 머지하기 전에 존재
      tmp_data['name'] = rawdata_name
      tmp_data['day'] = rawdata_day
      tmp_data['vs_team'] = rawdata_vs_team
      tmp_data['결과'] = rawdata_result
      tmp_data['타순'] = rawdata_bat_order
      tmp_data['P'] = rawdata_position
      tmp_data['선발'] = rawdata_start_memeber
      tmp_data['ab'] = rawdata_ab
      tmp_data['득점'] = rawdata_score
      tmp_data['hit'] = rawdata_hit
      tmp_data['2타'] = rawdata_2_hit
      tmp_data['3타'] = rawdata_3_hit
      tmp_data['홈런'] = rawdata_homerun
      tmp_data['루타'] = rawdata_루타
      tmp_data['타점'] = rawdata_타점
      tmp_data['도루'] = rawdata_도루
      tmp_data['도실'] = rawdata_도실
      tmp_data['볼넷'] = rawdata_볼넷
      tmp_data['사구'] = rawdata_사구
      tmp_data['고4'] = rawdata_고4
      tmp_data['삼진'] = rawdata_삼진
      tmp_data['병살'] = rawdata_병살
      tmp_data['희타'] = rawdata_희타
      tmp_data['희비'] = rewdata_희비
      tmp_data['avg'] = rawdata_avg
      tmp_data['출루'] = rawdata_출루
      tmp_data['장타'] = rawdata_장타
      tmp_data['OPS'] = rawdata_ops
      tmp_data['투구'] = rawdata_투구
      tmp_data['avLI'] = rawdata_avLI
      tmp_data['RE24'] = rawdata_RE24
      tmp_data['WPA'] = rawdata_WPA

      # 데이터 쌓기
      data = pd.concat([data,tmp_data])

  return data, batter_data

In [2]:
# data_2018, batter_data_2018 = data_crawling(2018,9)
# data_2019, batter_data_2019 = data_crawling(2019,9)
# data_2020, batter_data_2020 = data_crawling(2020,9)
data_2021, batter_data_2021 = data_crawling(2021,9)

100%|██████████| 10/10 [08:48<00:00, 52.84s/it]

In [ ]:
data_2018.to_csv("data_2018.csv", encoding='euc-kr', index=False)
data_2019.to_csv("data_2019.csv", encoding='euc-kr', index=False)
data_2020.to_csv("data_2020.csv", encoding='euc-kr', index=False)
data_2021.to_csv("data_2021.csv", encoding='euc-kr', index=False)

batter_data_2018.to_csv("batter_data_2018.csv", encoding='euc-kr', index=False)
batter_data_2019.to_csv("batter_data_2019.csv", encoding='euc-kr', index=False)
batter_data_2020.to_csv("batter_data_2020.csv", encoding='euc-kr', index=False)
batter_data_2021.to_csv("batter_data_2021.csv", encoding='euc-kr', index=False)

In [27]:
ex_data = data_2021.loc[:, ['name', 'day', 'vs_team', 'ab', 'hit']]

In [18]:
ex_data

   name    day vs_team   ab  hit
0   강백호  04-04      한화  3.0  2.0
1   강백호  04-06      LG  4.0  0.0
2   강백호  04-07      LG  4.0  3.0
3   강백호  04-08      LG  4.0  2.0
4   강백호  04-09     @삼성  5.0  3.0
..  ...    ...     ...  ...  ...
37  김민하  06-23     @삼성  3.0  1.0
38  김민하  06-24     @삼성  4.0  0.0
39  김민하  06-26      KT  1.0  0.0
40  김민하  07-09    @SSG  4.0  1.0
41  김민하  07-10    @SSG  3.0  1.0

[5820 rows x 5 columns]

In [5]:
import numpy as np
import pandas as pd
import tqdm
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
def make_result(data):
  data['result'] = [0 if s == 0 else 1 for s in data['hit']] 

  result_Dataframe = pd.DataFrame()
  result_Dataframe['name'] = data['name']
  result_Dataframe['day'] = data['day']
  result_Dataframe['vs_team'] = data['vs_team']
  result_Dataframe['ab'] = data['ab']
  result_Dataframe['hit'] = data['hit']
  result_Dataframe['result'] = data['result']
  result_Dataframe

  return result_Dataframe

In [7]:
sns.countplot(ex_data['result'])
plt.show()

KeyError: ignored

In [8]:
def make_vs(data):
  data['vs'] = [s[1:] if s[0] == '@' else s for s in data['vs_team']] 

  result_Dataframe = pd.DataFrame()
  result_Dataframe['name'] = data['name']
  result_Dataframe['day'] = data['day']
  result_Dataframe['vs_team'] = data['vs_team']
  result_Dataframe['vs'] = data['vs']
  result_Dataframe

  return result_Dataframe

In [9]:
def make_home_away(data):
  data['home/away'] = ['away' if s[0] == '@' else 'home' for s in data['vs_team']]

  result_Dataframe = pd.DataFrame()
  result_Dataframe['name'] = data['name']
  result_Dataframe['day'] = data['day']
  result_Dataframe['vs_team'] = data['vs_team']
  result_Dataframe['vs'] = data['vs']
  result_Dataframe['ab'] = data['ab']
  result_Dataframe['hit'] = data['hit']
  result_Dataframe['home/away'] = data['home/away']
  result_Dataframe

  return result_Dataframe

In [ ]:
def make_home_away_ab(data):
  data['home_ab'] = [ab if s == 'home' else 0 for s, ab in zip(data['home/away'], data['ab'])]
  data['home_hit'] = [hit if s == 'home' else 0 for s, hit in zip(data['home/away'], data['hit'])]
  data['away_ab'] = [ab if s == 'away' else 0 for s, ab in zip(data['home/away'], data['ab'])]
  data['away_hit'] = [hit if s == 'away' else 0 for s, hit in zip(data['home/away'], data['hit'])]

  result_Dataframe = pd.DataFrame()
  result_Dataframe['name'] = data['name']
  result_Dataframe['day'] = data['day']
  result_Dataframe['vs_team'] = data['vs_team']
  result_Dataframe['vs'] = data['vs']
  result_Dataframe['ab'] = data['ab']
  result_Dataframe['hit'] = data['hit']
  result_Dataframe['home/away'] = data['home/away']
  result_Dataframe['home_ab'] = data['home_ab']
  result_Dataframe['home_hit'] = data['home_hit']
  result_Dataframe['away_ab'] = data['away_ab']
  result_Dataframe['away_hit'] = data['away_hit']
  result_Dataframe

  return result_Dataframe

In [ ]:
def make_home_away_avg(hitter_data, data):
  home_ab = np.zeros(len(data))
  home_hit = np.zeros(len(data))
  away_ab = np.zeros(len(data))
  away_hit = np.zeros(len(data))

  name = np.empty(len(data), dtype=np.chararray) # type : 문자열 저장을 위해 chararray
  day = np.empty(len(data), dtype=np.chararray) # 기준이 되는 날짜
  vs_team = np.empty(len(data), dtype=np.chararray)
  vs = np.empty(len(data), dtype=np.chararray)
  ab = np.empty(len(data), dtype=np.float32)
  hit = np.empty(len(data), dtype=np.float32)
  home_away = np.empty(len(data), dtype=np.chararray)

  ps = 0
  for h in tqdm.tqdm(hitter_data['name']): # 90명 타자 한명씩 접근
    hdata = data.loc[data['name']==h] # 특정 타자 한명에 대해서만 데이터 추출
    for d, vt, v, hw, a, hit in zip(hdata['day'], hdata['vs_team'], hdata['vs'], hdata['home/away'], hdata['ab'], hdata['hit']): # 추출한 데이터에서 한 행씩 접근
      day[ps] = d  # 현재 기준 날짜
      name[ps] = h # 현재 타자
      vs_team[ps] = vt
      vs[ps] = v
      ab[ps] = a
      hit[ps] = hit
      home_away[ps] = hw

      if home_away[ps] == 'home':
        home_ab = a
        home_hit = hit
      else:
        home_ab = 0
        home_hit = 0
      
      if home_away =='away':
        away_ab = a
        away_hit = hit
      else:
        away_ab = 0
        away_hit = 0
      ps+=1
  
  result_Dataframe = pd.DataFrame()
  result_Dataframe['name'] = name
  result_Dataframe['day'] = day
  result_Dataframe['vs_team'] = vs_team
  result_Dataframe['vs'] = vs
  result_Dataframe['ab'] = ab
  result_Dataframe['hit'] = hit
  result_Dataframe['home/away'] = home_away
  result_Dataframe['home_ab'] = home_ab
  result_Dataframe['home/hit'] = home_hit
  result_Dataframe['away_ab'] = away_ab
  result_Dataframe['away_hit'] = away_hit
  result_Dataframe

  return result_Dataframe

In [34]:
ps = 0
for h in tqdm.tqdm(batter_data_2021['name']): # 90명 타자 한명씩 접근
  hdata = ex_data.loc[ex_data['name']==h] # 특정 타자 한명에 대해서만 데이터 추출
  print(hdata['name'])

100%|██████████| 90/90 [00:00<00:00, 407.83it/s]

0     강백호
1     강백호
2     강백호
3     강백호
4     강백호
     ...
70    강백호
71    강백호
72    강백호
73    강백호
74    강백호
Name: name, Length: 75, dtype: object
0     배정대
1     배정대
2     배정대
3     배정대
4     배정대
     ...
70    배정대
71    배정대
72    배정대
73    배정대
74    배정대
Name: name, Length: 75, dtype: object
0     조용호
1     조용호
2     조용호
3     조용호
4     조용호
     ...
69    조용호
70    조용호
71    조용호
72    조용호
73    조용호
Name: name, Length: 74, dtype: object
0     알몬테
1     알몬테
2     알몬테
3     알몬테
4     알몬테
5     알몬테
6     알몬테
7     알몬테
8     알몬테
9     알몬테
10    알몬테
11    알몬테
12    알몬테
13    알몬테
14    알몬테
15    알몬테
16    알몬테
17    알몬테
18    알몬테
19    알몬테
20    알몬테
21    알몬테
22    알몬테
23    알몬테
24    알몬테
25    알몬테
26    알몬테
27    알몬테
28    알몬테
29    알몬테
30    알몬테
31    알몬테
32    알몬테
33    알몬테
34    알몬테
35    알몬테
36    알몬테
37    알몬테
38    알몬테
39    알몬테
40    알몬테
41    알몬테
42    알몬테
43    알몬테
44    알몬테
45    알몬테
46    알몬테
47    알몬테
48    알몬테
49    알몬테
50    알몬테
51    알몬테
52    알몬테
53    알몬테
54    알몬테
55    알몬테
56    알몬테
57    알몬테
58    알몬테
59    알몬테
Name: name, dtype: object
0     심우준
1     심우준
2     심우준
3     심우준
4     심우준
     ...
69    심우준
70    심우준
71    심우준
72    심우준
73    심우준
Name: name, Length: 74, dtype: object
0     장성우
1     장성우
2     장성우
3     장성우
4     장성우
     ...
56    장성우
57    장성우
58    장성우
59    장성우
60    장성우
Name: name, Length: 61, dtype: object
0     황재균
1     황재균
2     황재균
3     황재균
4     황재균
5     황재균
6     황재균
7     황재균
8     황재균
9     황재균
10    황재균
11    황재균
12    황재균
13    황재균
14    황재균
15    황재균
16    황재균
17    황재균
18    황재균
19    황재균
20    황재균
21    황재균
22    황재균
23    황재균
24    황재균
25    황재균
26    황재균
27    황재균
28    황재균
29    황재균
30    황재균
31    황재균
32    황재균
33    황재균
34    황재균
35    황재균
36    황재균
37    황재균
38    황재균
39    황재균
40    황재균
41    황재균
42    황재균
43    황재균
44    황재균
45    황재균
46    황재균
47    황재균
Name: name, dtype: object
0     박경수
1     박경수
2     박경수
3     박경수
4     박경수
     ...
57    박경수
58    박경수
59    박경수
60    박경수
61    박경수
Name: name, Length: 62, dtype: object
0     유한준
1     유한준
2     유한준
3     유한준
4     유한준
5     유한준
6     유한준
7     유한준
8     유한준
9     유한준
10    유한준
11    유한준
12    유한준
13    유한준
14    유한준
15    유한준
16    유한준
17    유한준
18    유한준
19    유한준
20    유한준
21    유한준
22    유한준
23    유한준
24    유한준
25    유한준
26    유한준
27    유한준
28    유한준
29    유한준
30    유한준
31    유한준
32    유한준
33    유한준
34    유한준
35    유한준
36    유한준
37    유한준
38    유한준
39    유한준
40    유한준
41    유한준
42    유한준
43    유한준
44    유한준
45    유한준
46    유한준
47    유한준
48    유한준
49    유한준
50    유한준
51    유한준
Name: name, dtype: object
0     피렐라
1     피렐라
2     피렐라
3     피렐라
4     피렐라
     ...
75    피렐라
76    피렐라
77    피렐라
78    피렐라
79    피렐라
Name: name, Length: 80, dtype: object
0     구자욱
1     구자욱
2     구자욱
3     구자욱
4     구자욱
     ...
71    구자욱
72    구자욱
73    구자욱
74    구자욱
75    구자욱
Name: name, Length: 76, dtype: object
0     박해민
1     박해민
2     박해민
3     박해민
4     박해민
     ...
72    박해민
73    박해민
74    박해민
75    박해민
76    박해민
Name: name, Length: 77, dtype: object
0     김상수
1     김상수
2     김상수
3     김상수
4     김상수
     ...
65    김상수
66    김상수
67    김상수
68    김상수
69    김상수
Name: name, Length: 70, dtype: object
0     강민호
1     강민호
2     강민호
3     강민호
4     강민호
     ...
65    강민호
66    강민호
67    강민호
68    강민호
69    강민호
Name: name, Length: 70, dtype: object
0     이원석
1     이원석
2     이원석
3     이원석
4     이원석
     ...
66    이원석
67    이원석
68    이원석
69    이원석
70    이원석
Name: name, Length: 71, dtype: object
0     오재일
1     오재일
2     오재일
3     오재일
4     오재일
5     오재일
6     오재일
7     오재일
8     오재일
9     오재일
10    오재일
11    오재일
12    오재일
13    오재일
14    오재일
15    오재일
16    오재일
17    오재일
18    오재일
19    오재일
20    오재일
21    오재일
22    오재일
23    오재일
24    오재일
25    오재일
26    오재일
27    오재일
28    오재일
29    오재일
30    오재일
31    오재일
32    오재일
33    오재일
34    오재일
35    오재일
36    오재일
37    오재일
38    오재일
39    오재일
40    오재일
41    오재일
42    오재일
43    오재일
44    오재일
45    오재일
46    오재일
47    오재일
48    오재일
49    오재일
50    오재일
51    오재일
52    오재일
53    오재일
54    오재일
55    오재일
56    오재일
57    오재일
58    오재일
Name: name, dtype: object
0     김지찬
1     김지찬
2     김지찬
3     김지찬
4     김지찬
     ...
63    김지찬
64    김지찬
65    김지찬
66    김지찬
67    김지찬
Name: name, Length: 68, dtype: object
0     김헌곤
1     김헌곤
2     김헌곤
3     김헌곤
4     김헌곤
     ...
62    김헌곤
63    김헌곤
64    김헌곤
65    김헌곤
66    김헌곤
Name: name, Length: 67, dtype: object
0     홍창기
1     홍창기
2     홍창기
3     홍창기
4     홍창기
     ...
70    홍창기
71    홍창기
72    홍창기
73    홍창기
74    홍창기
Name: name, Length: 75, dtype: object
0     김현수
1     김현수
2     김현수
3     김현수
4     김현수
     ...
68    김현수
69    김현수
70    김현수
71    김현수
72    김현수
Name: name, Length: 73, dtype: object
0     오지환
1     오지환
2     오지환
3     오지환
4     오지환
     ...
61    오지환
62    오지환
63    오지환
64    오지환
65    오지환
Name: name, Length: 66, dtype: object
0     김민성
1     김민성
2     김민성
3     김민성
4     김민성
     ...
66    김민성
67    김민성
68    김민성
69    김민성
70    김민성
Name: name, Length: 71, dtype: object
0     채은성
1     채은성
2     채은성
3     채은성
4     채은성
     ...
56    채은성
57    채은성
58    채은성
59    채은성
60    채은성
Name: name, Length: 61, dtype: object
0     유강남
1     유강남
2     유강남
3     유강남
4     유강남
     ...
64    유강남
65    유강남
66    유강남
67    유강남
68    유강남
Name: name, Length: 69, dtype: object
0     정주현
1     정주현
2     정주현
3     정주현
4     정주현
     ...
65    정주현
66    정주현
67    정주현
68    정주현
69    정주현
Name: name, Length: 70, dtype: object
0     라모스
1     라모스
2     라모스
3     라모스
4     라모스
5     라모스
6     라모스
7     라모스
8     라모스
9     라모스
10    라모스
11    라모스
12    라모스
13    라모스
14    라모스
15    라모스
16    라모스
17    라모스
18    라모스
19    라모스
20    라모스
21    라모스
22    라모스
23    라모스
24    라모스
25    라모스
26    라모스
27    라모스
28    라모스
29    라모스
30    라모스
31    라모스
32    라모스
33    라모스
34    라모스
35    라모스
36    라모스
37    라모스
38    라모스
39    라모스
40    라모스
41    라모스
42    라모스
43    라모스
44    라모스
45    라모스
46    라모스
47    라모스
48    라모스
49    라모스
50    라모스
Name: name, dtype: object
0     이천웅
1     이천웅
2     이천웅
3     이천웅
4     이천웅
5     이천웅
6     이천웅
7     이천웅
8     이천웅
9     이천웅
10    이천웅
11    이천웅
12    이천웅
13    이천웅
14    이천웅
15    이천웅
16    이천웅
17    이천웅
18    이천웅
19    이천웅
20    이천웅
21    이천웅
22    이천웅
23    이천웅
24    이천웅
25    이천웅
26    이천웅
27    이천웅
28    이천웅
29    이천웅
30    이천웅
31    이천웅
32    이천웅
33    이천웅
34    이천웅
35    이천웅
36    이천웅
37    이천웅
38    이천웅
39    이천웅
40    이천웅
41    이천웅
42    이천웅
43    이천웅
44    이천웅
45    이천웅
46    이천웅
47    이천웅
48    이천웅
49    이천웅
50    이천웅
51    이천웅
52    이천웅
53    이천웅
54    이천웅
55    이천웅
56    이천웅
57    이천웅
58    이천웅
Name: name, dtype: object
0     로맥
1     로맥
2     로맥
3     로맥
4     로맥
      ..
73    로맥
74    로맥
75    로맥
76    로맥
77    로맥
Name: name, Length: 78, dtype: object
0     추신수
1     추신수
2     추신수
3     추신수
4     추신수
     ...
70    추신수
71    추신수
72    추신수
73    추신수
74    추신수
Name: name, Length: 75, dtype: object
0     최정
1     최정
2     최정
3     최정
4     최정
      ..
69    최정
70    최정
71    최정
72    최정
73    최정
Name: name, Length: 74, dtype: object
0     최지훈
1     최지훈
2     최지훈
3     최지훈
4     최지훈
     ...
67    최지훈
68    최지훈
69    최지훈
70    최지훈
71    최지훈
Name: name, Length: 72, dtype: object
0     한유섬
1     한유섬
2     한유섬
3     한유섬
4     한유섬
     ...
68    한유섬
69    한유섬
70    한유섬
71    한유섬
72    한유섬
Name: name, Length: 73, dtype: object
0     최주환
1     최주환
2     최주환
3     최주환
4     최주환
5     최주환
6     최주환
7     최주환
8     최주환
9     최주환
10    최주환
11    최주환
12    최주환
13    최주환
14    최주환
15    최주환
16    최주환
17    최주환
18    최주환
19    최주환
20    최주환
21    최주환
22    최주환
23    최주환
24    최주환
25    최주환
26    최주환
27    최주환
28    최주환
29    최주환
30    최주환
31    최주환
32    최주환
33    최주환
34    최주환
35    최주환
36    최주환
37    최주환
38    최주환
39    최주환
40    최주환
41    최주환
42    최주환
43    최주환
44    최주환
45    최주환
46    최주환
47    최주환
48    최주환
49    최주환
50    최주환
51    최주환
52    최주환
53    최주환
54    최주환
55    최주환
56    최주환
57    최주환
58    최주환
59    최주환
Name: name, dtype: object
0     박성한
1     박성한
2     박성한
3     박성한
4     박성한
     ...
67    박성한
68    박성한
69    박성한
70    박성한
71    박성한
Name: name, Length: 72, dtype: object
0     이재원
1     이재원
2     이재원
3     이재원
4     이재원
     ...
67    이재원
68    이재원
69    이재원
70    이재원
71    이재원
Name: name, Length: 72, dtype: object
0     김성현
1     김성현
2     김성현
3     김성현
4     김성현
     ...
62    김성현
63    김성현
64    김성현
65    김성현
66    김성현
Name: name, Length: 67, dtype: object
0     나성범
1     나성범
2     나성범
3     나성범
4     나성범
     ...
69    나성범
70    나성범
71    나성범
72    나성범
73    나성범
Name: name, Length: 74, dtype: object
0     양의지
1     양의지
2     양의지
3     양의지
4     양의지
     ...
68    양의지
69    양의지
70    양의지
71    양의지
72    양의지
Name: name, Length: 73, dtype: object
0     알테어
1     알테어
2     알테어
3     알테어
4     알테어
     ...
68    알테어
69    알테어
70    알테어
71    알테어
72    알테어
Name: name, Length: 73, dtype: object
0     노진혁
1     노진혁
2     노진혁
3     노진혁
4     노진혁
     ...
61    노진혁
62    노진혁
63    노진혁
64    노진혁
65    노진혁
Name: name, Length: 66, dtype: object
0     이명기
1     이명기
2     이명기
3     이명기
4     이명기
5     이명기
6     이명기
7     이명기
8     이명기
9     이명기
10    이명기
11    이명기
12    이명기
13    이명기
14    이명기
15    이명기
16    이명기
17    이명기
18    이명기
19    이명기
20    이명기
21    이명기
22    이명기
23    이명기
24    이명기
25    이명기
26    이명기
27    이명기
28    이명기
29    이명기
30    이명기
31    이명기
32    이명기
33    이명기
34    이명기
35    이명기
36    이명기
37    이명기
38    이명기
39    이명기
40    이명기
41    이명기
42    이명기
43    이명기
44    이명기
45    이명기
46    이명기
47    이명기
48    이명기
49    이명기
50    이명기
51    이명기
52    이명기
53    이명기
54    이명기
55    이명기
Name: name, dtype: object
0     박민우
1     박민우
2     박민우
3     박민우
4     박민우
5     박민우
6     박민우
7     박민우
8     박민우
9     박민우
10    박민우
11    박민우
12    박민우
13    박민우
14    박민우
15    박민우
16    박민우
17    박민우
18    박민우
19    박민우
20    박민우
21    박민우
22    박민우
23    박민우
24    박민우
25    박민우
26    박민우
27    박민우
28    박민우
29    박민우
30    박민우
31    박민우
32    박민우
33    박민우
34    박민우
35    박민우
36    박민우
37    박민우
38    박민우
39    박민우
40    박민우
41    박민우
42    박민우
43    박민우
44    박민우
45    박민우
46    박민우
47    박민우
48    박민우
49    박민우
Name: name, dtype: object
0     강진성
1     강진성
2     강진성
3     강진성
4     강진성
5     강진성
6     강진성
7     강진성
8     강진성
9     강진성
10    강진성
11    강진성
12    강진성
13    강진성
14    강진성
15    강진성
16    강진성
17    강진성
18    강진성
19    강진성
20    강진성
21    강진성
22    강진성
23    강진성
24    강진성
25    강진성
26    강진성
27    강진성
28    강진성
29    강진성
30    강진성
31    강진성
32    강진성
33    강진성
34    강진성
35    강진성
36    강진성
37    강진성
38    강진성
39    강진성
40    강진성
41    강진성
42    강진성
43    강진성
44    강진성
45    강진성
46    강진성
47    강진성
48    강진성
49    강진성
50    강진성
51    강진성
52    강진성
53    강진성
54    강진성
Name: name, dtype: object
0     박석민
1     박석민
2     박석민
3     박석민
4     박석민
5     박석민
6     박석민
7     박석민
8     박석민
9     박석민
10    박석민
11    박석민
12    박석민
13    박석민
14    박석민
15    박석민
16    박석민
17    박석민
18    박석민
19    박석민
20    박석민
21    박석민
22    박석민
23    박석민
24    박석민
25    박석민
26    박석민
27    박석민
28    박석민
29    박석민
30    박석민
31    박석민
32    박석민
33    박석민
34    박석민
35    박석민
36    박석민
37    박석민
38    박석민
39    박석민
40    박석민
41    박석민
42    박석민
43    박석민
44    박석민
45    박석민
46    박석민
47    박석민
48    박석민
49    박석민
50    박석민
51    박석민
52    박석민
53    박석민
54    박석민
55    박석민
56    박석민
57    박석민
58    박석민
Name: name, dtype: object
0     권희동
1     권희동
2     권희동
3     권희동
4     권희동
5     권희동
6     권희동
7     권희동
8     권희동
9     권희동
10    권희동
11    권희동
12    권희동
13    권희동
14    권희동
15    권희동
16    권희동
17    권희동
18    권희동
19    권희동
20    권희동
21    권희동
22    권희동
23    권희동
24    권희동
25    권희동
26    권희동
27    권희동
28    권희동
29    권희동
30    권희동
31    권희동
32    권희동
33    권희동
34    권희동
35    권희동
36    권희동
37    권희동
38    권희동
39    권희동
40    권희동
41    권희동
42    권희동
43    권희동
44    권희동
45    권희동
46    권희동
47    권희동
48    권희동
49    권희동
50    권희동
51    권희동
52    권희동
53    권희동
54    권희동
Name: name, dtype: object
0     김혜성
1     김혜성
2     김혜성
3     김혜성
4     김혜성
     ...
75    김혜성
76    김혜성
77    김혜성
78    김혜성
79    김혜성
Name: name, Length: 80, dtype: object
0     이정후
1     이정후
2     이정후
3     이정후
4     이정후
     ...
74    이정후
75    이정후
76    이정후
77    이정후
78    이정후
Name: name, Length: 79, dtype: object
0     서건창
1     서건창
2     서건창
3     서건창
4     서건창
     ...
71    서건창
72    서건창
73    서건창
74    서건창
75    서건창
Name: name, Length: 76, dtype: object
0     이용규
1     이용규
2     이용규
3     이용규
4     이용규
     ...
70    이용규
71    이용규
72    이용규
73    이용규
74    이용규
Name: name, Length: 75, dtype: object
0     송우현
1     송우현
2     송우현
3     송우현
4     송우현
     ...
64    송우현
65    송우현
66    송우현
67    송우현
68    송우현
Name: name, Length: 69, dtype: object
0     박병호
1     박병호
2     박병호
3     박병호
4     박병호
5     박병호
6     박병호
7     박병호
8     박병호
9     박병호
10    박병호
11    박병호
12    박병호
13    박병호
14    박병호
15    박병호
16    박병호
17    박병호
18    박병호
19    박병호
20    박병호
21    박병호
22    박병호
23    박병호
24    박병호
25    박병호
26    박병호
27    박병호
28    박병호
29    박병호
30    박병호
31    박병호
32    박병호
33    박병호
34    박병호
35    박병호
36    박병호
37    박병호
38    박병호
39    박병호
40    박병호
41    박병호
42    박병호
43    박병호
44    박병호
45    박병호
46    박병호
47    박병호
48    박병호
49    박병호
50    박병호
51    박병호
52    박병호
53    박병호
54    박병호
55    박병호
56    박병호
57    박병호
58    박병호
59    박병호
Name: name, dtype: object
0     박동원
1     박동원
2     박동원
3     박동원
4     박동원
     ...
68    박동원
69    박동원
70    박동원
71    박동원
72    박동원
Name: name, Length: 73, dtype: object
0     김웅빈
1     김웅빈
2     김웅빈
3     김웅빈
4     김웅빈
5     김웅빈
6     김웅빈
7     김웅빈
8     김웅빈
9     김웅빈
10    김웅빈
11    김웅빈
12    김웅빈
13    김웅빈
14    김웅빈
15    김웅빈
16    김웅빈
17    김웅빈
18    김웅빈
19    김웅빈
20    김웅빈
21    김웅빈
22    김웅빈
23    김웅빈
24    김웅빈
25    김웅빈
26    김웅빈
27    김웅빈
28    김웅빈
29    김웅빈
30    김웅빈
31    김웅빈
32    김웅빈
33    김웅빈
34    김웅빈
35    김웅빈
36    김웅빈
37    김웅빈
38    김웅빈
39    김웅빈
40    김웅빈
41    김웅빈
42    김웅빈
43    김웅빈
44    김웅빈
45    김웅빈
46    김웅빈
47    김웅빈
48    김웅빈
49    김웅빈
50    김웅빈
51    김웅빈
52    김웅빈
53    김웅빈
54    김웅빈
Name: name, dtype: object
0     전병우
1     전병우
2     전병우
3     전병우
4     전병우
     ...
64    전병우
65    전병우
66    전병우
67    전병우
68    전병우
Name: name, Length: 69, dtype: object
0     페르난데스
1     페르난데스
2     페르난데스
3     페르난데스
4     페르난데스
      ...
66    페르난데스
67    페르난데스
68    페르난데스
69    페르난데스
70    페르난데스
Name: name, Length: 71, dtype: object
0     양석환
1     양석환
2     양석환
3     양석환
4     양석환
     ...
69    양석환
70    양석환
71    양석환
72    양석환
73    양석환
Name: name, Length: 74, dtype: object
0     허경민
1     허경민
2     허경민
3     허경민
4     허경민
     ...
64    허경민
65    허경민
66    허경민
67    허경민
68    허경민
Name: name, Length: 69, dtype: object
0     김재환
1     김재환
2     김재환
3     김재환
4     김재환
     ...
63    김재환
64    김재환
65    김재환
66    김재환
67    김재환
Name: name, Length: 68, dtype: object
0     김인태
1     김인태
2     김인태
3     김인태
4     김인태
     ...
65    김인태
66    김인태
67    김인태
68    김인태
69    김인태
Name: name, Length: 70, dtype: object
0     박건우
1     박건우
2     박건우
3     박건우
4     박건우
5     박건우
6     박건우
7     박건우
8     박건우
9     박건우
10    박건우
11    박건우
12    박건우
13    박건우
14    박건우
15    박건우
16    박건우
17    박건우
18    박건우
19    박건우
20    박건우
21    박건우
22    박건우
23    박건우
24    박건우
25    박건우
26    박건우
27    박건우
28    박건우
29    박건우
30    박건우
31    박건우
32    박건우
33    박건우
34    박건우
35    박건우
36    박건우
37    박건우
38    박건우
39    박건우
40    박건우
41    박건우
42    박건우
43    박건우
44    박건우
45    박건우
46    박건우
47    박건우
48    박건우
49    박건우
50    박건우
51    박건우
52    박건우
53    박건우
54    박건우
55    박건우
56    박건우
57    박건우
58    박건우
Name: name, dtype: object
0     강승호
1     강승호
2     강승호
3     강승호
4     강승호
5     강승호
6     강승호
7     강승호
8     강승호
9     강승호
10    강승호
11    강승호
12    강승호
13    강승호
14    강승호
15    강승호
16    강승호
17    강승호
18    강승호
19    강승호
20    강승호
21    강승호
22    강승호
23    강승호
24    강승호
25    강승호
26    강승호
27    강승호
28    강승호
29    강승호
30    강승호
31    강승호
32    강승호
33    강승호
34    강승호
35    강승호
36    강승호
37    강승호
38    강승호
39    강승호
40    강승호
41    강승호
42    강승호
43    강승호
44    강승호
45    강승호
46    강승호
Name: name, dtype: object
0     장승현
1     장승현
2     장승현
3     장승현
4     장승현
5     장승현
6     장승현
7     장승현
8     장승현
9     장승현
10    장승현
11    장승현
12    장승현
13    장승현
14    장승현
15    장승현
16    장승현
17    장승현
18    장승현
19    장승현
20    장승현
21    장승현
22    장승현
23    장승현
24    장승현
25    장승현
26    장승현
27    장승현
28    장승현
29    장승현
30    장승현
31    장승현
32    장승현
33    장승현
34    장승현
35    장승현
36    장승현
37    장승현
38    장승현
39    장승현
40    장승현
41    장승현
42    장승현
43    장승현
44    장승현
45    장승현
46    장승현
47    장승현
48    장승현
49    장승현
50    장승현
51    장승현
52    장승현
53    장승현
Name: name, dtype: object
0     안재석
1     안재석
2     안재석
3     안재석
4     안재석
5     안재석
6     안재석
7     안재석
8     안재석
9     안재석
10    안재석
11    안재석
12    안재석
13    안재석
14    안재석
15    안재석
16    안재석
17    안재석
18    안재석
19    안재석
20    안재석
21    안재석
22    안재석
23    안재석
24    안재석
25    안재석
26    안재석
27    안재석
28    안재석
29    안재석
30    안재석
31    안재석
32    안재석
33    안재석
34    안재석
35    안재석
36    안재석
37    안재석
38    안재석
39    안재석
40    안재석
41    안재석
42    안재석
43    안재석
44    안재석
45    안재석
46    안재석
47    안재석
48    안재석
49    안재석
50    안재석
51    안재석
Name: name, dtype: object
0     전준우
1     전준우
2     전준우
3     전준우
4     전준우
     ...
72    전준우
73    전준우
74    전준우
75    전준우
76    전준우
Name: name, Length: 77, dtype: object
0     손아섭
1     손아섭
2     손아섭
3     손아섭
4     손아섭
     ...
70    손아섭
71    손아섭
72    손아섭
73    손아섭
74    손아섭
Name: name, Length: 75, dtype: object
0     정훈
1     정훈
2     정훈
3     정훈
4     정훈
      ..
66    정훈
67    정훈
68    정훈
69    정훈
70    정훈
Name: name, Length: 71, dtype: object
0     마차도
1     마차도
2     마차도
3     마차도
4     마차도
     ...
63    마차도
64    마차도
65    마차도
66    마차도
67    마차도
Name: name, Length: 68, dtype: object
0     한동희
1     한동희
2     한동희
3     한동희
4     한동희
     ...
58    한동희
59    한동희
60    한동희
61    한동희
62    한동희
Name: name, Length: 63, dtype: object
0     안치홍
1     안치홍
2     안치홍
3     안치홍
4     안치홍
5     안치홍
6     안치홍
7     안치홍
8     안치홍
9     안치홍
10    안치홍
11    안치홍
12    안치홍
13    안치홍
14    안치홍
15    안치홍
16    안치홍
17    안치홍
18    안치홍
19    안치홍
20    안치홍
21    안치홍
22    안치홍
23    안치홍
24    안치홍
25    안치홍
26    안치홍
27    안치홍
28    안치홍
29    안치홍
30    안치홍
31    안치홍
32    안치홍
33    안치홍
34    안치홍
35    안치홍
36    안치홍
37    안치홍
38    안치홍
39    안치홍
40    안치홍
41    안치홍
42    안치홍
43    안치홍
44    안치홍
45    안치홍
46    안치홍
47    안치홍
48    안치홍
49    안치홍
50    안치홍
51    안치홍
52    안치홍
53    안치홍
54    안치홍
Name: name, dtype: object
0     이대호
1     이대호
2     이대호
3     이대호
4     이대호
5     이대호
6     이대호
7     이대호
8     이대호
9     이대호
10    이대호
11    이대호
12    이대호
13    이대호
14    이대호
15    이대호
16    이대호
17    이대호
18    이대호
19    이대호
20    이대호
21    이대호
22    이대호
23    이대호
24    이대호
25    이대호
26    이대호
27    이대호
28    이대호
29    이대호
30    이대호
31    이대호
32    이대호
33    이대호
34    이대호
35    이대호
36    이대호
37    이대호
38    이대호
39    이대호
40    이대호
41    이대호
42    이대호
43    이대호
44    이대호
45    이대호
46    이대호
47    이대호
48    이대호
49    이대호
50    이대호
Name: name, dtype: object
0     추재현
1     추재현
2     추재현
3     추재현
4     추재현
5     추재현
6     추재현
7     추재현
8     추재현
9     추재현
10    추재현
11    추재현
12    추재현
13    추재현
14    추재현
15    추재현
16    추재현
17    추재현
18    추재현
19    추재현
20    추재현
21    추재현
22    추재현
23    추재현
24    추재현
25    추재현
26    추재현
27    추재현
28    추재현
29    추재현
30    추재현
31    추재현
32    추재현
33    추재현
34    추재현
35    추재현
36    추재현
37    추재현
38    추재현
39    추재현
40    추재현
41    추재현
42    추재현
43    추재현
44    추재현
45    추재현
46    추재현
Name: name, dtype: object
0     김민수
1     김민수
2     김민수
3     김민수
4     김민수
5     김민수
6     김민수
7     김민수
8     김민수
9     김민수
10    김민수
11    김민수
12    김민수
13    김민수
14    김민수
15    김민수
16    김민수
17    김민수
18    김민수
19    김민수
20    김민수
21    김민수
22    김민수
23    김민수
24    김민수
25    김민수
26    김민수
27    김민수
28    김민수
29    김민수
30    김민수
31    김민수
32    김민수
33    김민수
34    김민수
35    김민수
36    김민수
37    김민수
38    김민수
39    김민수
40    김민수
41    김민수
42    김민수
43    김민수
44    김민수
Name: name, dtype: object
0     최원준
1     최원준
2     최원준
3     최원준
4     최원준
     ...
68    최원준
69    최원준
70    최원준
71    최원준
72    최원준
Name: name, Length: 73, dtype: object
0     김선빈
1     김선빈
2     김선빈
3     김선빈
4     김선빈

In [ ]:
home_away.head(20)