<a href="https://colab.research.google.com/github/KimGriezmann/DeepLearning_BeTheLegend/blob/master/working_whalepig/Web_Crawling__Selenium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
Team = "두산"
batter = "김재현"
batter
year=2019

In [ ]:
# BeautifulSoup

import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

wp = requests.get("http://www.statiz.co.kr/stat.php")

# if wp==200: # 응답코드가 200일때(정상)
soup = BeautifulSoup(wp.text, "html.parser")

# Team List
Team_2019 = ['NC','KT','LG','두산','키움','KIA','롯데','삼성','SK','한화']
Team_2020 = ['NC','KT','LG','두산','키움','KIA','롯데','삼성','SK','한화']
Team_2021 = ['KT','삼성','LG','SSG','NC','키움','두산','롯데','KIA','한화']


# 시즌 기록실 페이지에서 팀을 선택
select_team_list = soup.select('body > div.wrapper > div.content-wrapper > div > section.content > div > div.col-md-12.col-xs-12.col-sm-12.col-lg-12 > div:nth-of-type(1) > div > div.btn-group.pull-left')
select_team_list = select_team_list[2].find_all()[2].find_all('button')

for i in select_team_list:
  if i.text == Team: # Team은 Team List 중의 한팀
    wp = requests.get("http://www.statiz.co.kr/"+i.attrs['onclick'][15:-1]) # 선택한 팀의 주소만 가져온다.
soup = BeautifulSoup(wp.text, "html.parser")

# 타석 순으로 정렬한다.
order_by_PA = soup.select('#mytable')[0].find_all()[0].find_all('a')[1].attrs['href']
wp = requests.get("http://www.statiz.co.kr/"+order_by_PA)
soup = BeautifulSoup(wp.text, "html.parser")

In [ ]:
# 현재 팀의 타석 수 상위 9명
num_top_batter = 9
tmp_batter_list = np.empty(num_top_batter,dtype=object)
tmp_team = np.array([Team]*num_top_batter)
tmp_batter_list_href = np.empty(num_top_batter,dtype=object)
ps=0
for i in soup.find_all('tr')[2:11]:
  tmp_batter_list[ps] = i.find_all('td')[1].text
  tmp_batter_list_href[ps] = i.find_all('a')[0].attrs['href']
  ps+=1

In [ ]:
for i in range(num_top_batter):
  wp=requests.get("http://www.statiz.co.kr/"+tmp_batter_list_href[0])
  soup=BeautifulSoup(wp.text, "html.parser")

In [191]:
##### Test
##### 2019년 두산 페르난데스

wp=requests.get("http://www.statiz.co.kr/"+tmp_batter_list_href[0])
soup=BeautifulSoup(wp.text, "html.parser")

In [194]:
href_byDate = soup.select('body > div > div.content-wrapper > div > section.content > div > div:nth-of-type(1) > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-12 > div > div.table-responsive.no-padding.box > table')[0].find_all('a')[3].attrs['href']
wp=requests.get("http://www.statiz.co.kr/"+href_byDate)
soup=BeautifulSoup(wp.text,"html.parser")

# year : 원하는 연도 # test : 2019
href_byDate_year=soup.select('body > div.wrapper > div.content-wrapper > div > section.content > div > div:nth-of-type(2) > div > div:nth-of-type(2) > div')[0].find('a', text=str(year)).attrs['href']
wp=requests.get("http://www.statiz.co.kr/"+href_byDate_year)
soup=BeautifulSoup(wp.text,"html.parser")

## 데이터가 있는 페이지로 이동 완료
## 이제 실질적인 데이터를 모을 차례
rawdata=soup.select('body > div > div.content-wrapper > div > section.content > div > div:nth-of-type(2) > div > div:nth-of-type(3) > div > div > table')[0]
# rawdata : 전체 테이블

# th를 제외한 순수한 경기 데이터 / th는 컬럼명 행이다.
rawdata_not_th = rawdata.find_all('tr',{'class':['oddrow_stz0','evenrow_stz0']})

# 행렬만들기
rawdata_date = np.zeros(len(rawdata_not_th), dtype=object)
rawdata_vs_team = np.zeros(len(rawdata_not_th), dtype=object)
rawdata_result = np.zeros(len(rawdata_not_th), dtype=object)
rawdata_bat_order = np.zeros(len(rawdata_not_th),dtype=np.int_)
rawdata_position = np.zeros(len(rawdata_not_th), dtype=object)
rawdata_start_memeber = np.zeros(len(rawdata_not_th), dtype=np.bool)
rawdata_ab = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_score = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_hit = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_2_hit = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_3_hit = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_homerun = np.zeros(len(rawdata_not_th), dtype=np.int_)
# 영어명으로 변경 필요
rawdata_루타 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_타점 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_도루 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_도실 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_볼넷 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_사구 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_고4 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_삼진 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_병살 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_희타 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rewdata_희비 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_타율 = np.zeros(len(rawdata_not_th), dtype=np.float)
rawdata_출루 = np.zeros(len(rawdata_not_th), dtype=np.float)
rawdata_장타 = np.zeros(len(rawdata_not_th), dtype=np.float)
rawdata_ops = np.zeros(len(rawdata_not_th), dtype=np.float)
rawdata_투구 = np.zeros(len(rawdata_not_th), dtype=np.int_)
rawdata_avLI = np.zeros(len(rawdata_not_th), dtype=np.float)
rawdata_RE24 = np.zeros(len(rawdata_not_th), dtype=np.float)
rawdata_WPA = np.zeros(len(rawdata_not_th), dtype=np.float)

for i in range(len(rawdata_not_th)):
  # 한 행 : i
  j = [text for text in rawdata_not_th[0].stripped_strings]
  # 현재 행의 하나의 값 : j[index]
  # 데이터 입력
  rawdata_date[i] = j[1]
  rawdata_vs_team[i] = j[2]
  rawdata_result[i] = j[3]+" "+j[4]
  rawdata_bat_order[i] = j[5]
  rawdata_position[i] = j[6]
  rawdata_start_memeber[i] = j[7]
  rawdata_ab[i] = j[8]
  rawdata_score[i] = j[9]
  rawdata_hit[i] = j[10]
  rawdata_2_hit[i] = j[11]
  rawdata_3_hit[i] = j[12]
  rawdata_homerun[i] = j[13]
  rawdata_루타[i] = j[14]
  rawdata_타점[i] = j[15]
  rawdata_도루[i] = j[16]
  rawdata_도실[i] = j[17]
  rawdata_볼넷[i] = j[18]
  rawdata_사구[i] = j[19]
  rawdata_고4[i] = j[20]
  rawdata_삼진[i] = j[21]
  rawdata_병살[i] = j[22]
  rawdata_희타[i] = j[23]
  rewdata_희비[i] = j[24]
  rawdata_타율[i] = j[25]
  rawdata_출루[i] = j[26]
  rawdata_장타[i] = j[27]
  rawdata_ops[i] = j[28]
  rawdata_투구[i] = j[29]
  rawdata_avLI[i] = j[30]
  rawdata_RE24[i] = j[31]
  rawdata_WPA[i] = j[32]

In [195]:
data = pd.DataFrame()
data['날짜'] = rawdata_date
data['상대'] = rawdata_vs_team
data['결과'] = rawdata_result
data['타순'] = rawdata_bat_order
data['P'] = rawdata_position
data['선발'] = rawdata_start_memeber
data['타수'] = rawdata_ab
data['득점'] = rawdata_score
data['안타'] = rawdata_hit
data['2타'] = rawdata_2_hit
data['3타'] = rawdata_3_hit
data['홈런'] = rawdata_homerun
data['루타'] = rawdata_루타
data['타점'] = rawdata_타점
data['도루'] = rawdata_도루
data['도실'] = rawdata_도실
data['볼넷'] = rawdata_볼넷
data['사구'] = rawdata_사구
data['고4'] = rawdata_고4
data['삼진'] = rawdata_삼진
data['병살'] = rawdata_병살
data['희타'] = rawdata_희타
data['희비'] = rewdata_희비
data['타율'] = rawdata_타율
data['출루'] = rawdata_출루
data['장타'] = rawdata_장타
data['OPS'] = rawdata_ops
data['투구'] = rawdata_투구
data['avLI'] = rawdata_avLI
data['RE24'] = rawdata_RE24
data['WPA'] = rawdata_WPA

In [196]:
data

        날짜  상대     결과  타순   P    선발  타수  ...   출루    장타   OPS  투구  avLI  RE24    WPA
0    03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
1    03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
2    03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
3    03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
4    03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
..     ...  ..    ...  ..  ..   ...  ..  ...  ...   ...   ...  ..   ...   ...    ...
143  03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
144  03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
145  03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
146  03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429
147  03-23  한화  W 5:4   6  DH  True   4  ...  0.5  0.75  1.25  19  1.98  1.65  0.429

[148 rows x 31 columns]