<a href="https://colab.research.google.com/github/KimGriezmann/DeepLearning_BeTheLegend/blob/master/vsteam_avg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tqdm
import os

In [4]:
hitter = pd.read_excel("/content/90명 타자 명단.xlsx")
vs_avg_data = pd.read_excel("/content/팀 상대 타율 정렬.xlsx")

In [5]:
hitter = pd.DataFrame(hitter)
vs_avg_data = pd.DataFrame(vs_avg_data)

In [6]:
#상대 타율 구하는 함수
#데이터 파일에서 vs 내림차순 후, 누적 타수 / 누적 안타 계산이 끝난 상태여야함
def make_vs_avg(hitter_data, record_data):
  vs_avg = np.zeros(len(record_data))
  name = np.empty(len(record_data), dtype=np.chararray) # type : 문자열 저장을 위해 chararray
  day = np.empty(len(record_data), dtype=np.int32) # 기준이 되는 날짜
  vs = np.empty(len(record_data), dtype=np.chararray)
  vs_ab = np.zeros(len(record_data))
  vs_hit = np.zeros(len(record_data))
  double_h = np.zeros(len(record_data))

  ps = 0
  for h in tqdm.tqdm(hitter_data['batter']): # 90명 타자 한명씩 접근
    hdata = record_data.loc[record_data['name']==h] # 특정 타자 한명에 대해서만 데이터 추출
    for r, d, v,ab, hit in zip(hdata['day'], hdata['double'], hdata['vs'], hdata['vs_cu_ab'], hdata['vs_cu_hit']): # 추출한 데이터에서 한 행씩 접근
      day[ps] = r  # 현재 기준 날짜
      name[ps] = h # 현재 타자
      vs[ps] = v
      vs_ab[ps] = ab
      vs_hit[ps] = hit
      double_h[ps] = d
      try:
        vs_avg[ps] = hit / ab
      except ZeroDivisionError:
        vs_avg[ps] = 0
      ps+=1
  
  result_Dataframe = pd.DataFrame()
  result_Dataframe['day'] = day
  result_Dataframe['double'] = double_h
  result_Dataframe['name'] = name
  result_Dataframe['vs_team'] = vs
  result_Dataframe['vs_ab'] = vs_ab
  result_Dataframe['vs_hit'] = vs_hit
  result_Dataframe['vs_avg'] = vs_avg
  result_Dataframe

  return result_Dataframe

In [7]:
vs_avg = make_vs_avg(hitter, vs_avg_data)

100%|██████████| 90/90 [00:00<00:00, 842.43it/s]

In [8]:
vs_avg.loc[vs_avg['name']=='전준우']

      day  double name vs_team  vs_ab  vs_hit    vs_avg
0   44316     0.0  전준우      한화    0.0     0.0  0.000000
1   44317     0.0  전준우      한화    4.0     1.0  0.250000
2   44318     0.0  전준우      한화    8.0     1.0  0.125000
3   44334     0.0  전준우      한화   11.0     1.0  0.090909
4   44335     0.0  전준우      한화   16.0     3.0  0.187500
..    ...     ...  ...     ...    ...     ...       ...
65  44301     0.0  전준우     KIA   10.0     3.0  0.300000
66  44321     0.0  전준우     KIA   13.0     5.0  0.384615
67  44322     0.0  전준우     KIA   18.0     7.0  0.388889
68  44360     1.0  전준우     KIA   24.0    11.0  0.458333
69  44360     2.0  전준우     KIA   28.0    13.0  0.464286

[70 rows x 7 columns]